{% from "form_macros.html" import fields_errors,flash_message %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Unifispot | Forgot password </title>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    {% assets "global_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

</head>

<body class="gray-bg">


 <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Forgot password</h2>

                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            {{flash_message()}}
                            <form class="m-t" role="form" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
                            {{ forgot_password_form.hidden_tag() }}
                            {{ fields_errors(forgot_password_form.email) }}                                
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address" required="" name="email" id="email">
                                    
                                </div>

                                    
                                <input type="submit" class="btn btn-primary block full-width m-b" id="submit" name="submit" type="submit" value="Recover Password" />

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Unifispot
            </div>
            <div class="col-md-6 text-right">
               <small>©2016</small>
            </div>
        </div>
    </div>




<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
{% assets "core_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<!-- END CORE PLUGINS -->
</body>

</html>

