{% extends "admin/base.html" %}

{% block css_block %}
    {% assets "datatable_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{%endblock%}

{% block title %}
    Dashboard
{%endblock %}

{% block left_menu %}
    <li >
        <a href="{{url_for('admin.admin_index')}}"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span></a>
    </li>
    <li class="active" >
         <a href="{{url_for('admin.admin_clients')}}"><i class="fa fa-flask"></i> <span class="nav-label">Clients</span> </a>
    </li>
    <li >
         <a href="{{url_for('admin.admin_admins')}}"><i class="fa fa-diamond"></i> <span class="nav-label">Admins</span> </a>
    </li>
    <li>
         <a href="{{url_for('admin.admin_settings')}}"><i class="fa fa-edit"></i> <span class="nav-label">Settings</span> </a>
    </li>
 

{%endblock%}

{%block main_content %}
    <div class="row">
        {{modal_form(newuser_form,"usereditmodal","User Details")}}
        <div class="col-md-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Clients</h5>
                    <div class="ibox-tools">
                        <a class="btn btn-primary" id="usereditmodal-add-new">New Client </a>
                    </div>
                </div>
                <div class="ibox-content">
                   <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="users-table" >
                            <thead>
                                <tr>
                                    <th>Displayname</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>          
        </div>                  
    </div>    


{%endblock%}


{% block js_block %}
    {% assets "datatable_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

        <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
          // $('.dataTables-example').DataTable();
            create_site_menu(siteid=0);

        var users_table = new DataTableWithEdit("users-table",{
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ajax": "{{url_for('admin.client_api')}}"},
                "{{url_for('admin.client_api')}}",
                'usereditmodal');
    });
    </script>
{%endblock%}
