{% extends "admin/base.html" %}
{%from 'form_macros.html' import modal_form_voucher%}
{% block css_block %}
    {% assets "datatable_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        <style>
        #vouchertable{
             font-family: "Times New Roman", Times, serif !important;

        }
        </style>
    {% endassets %}
{%endblock%}

{% block title %}
    Vouchers
{%endblock %}

{% block left_menu %}
    <li >
        <a href="{{url_for('admin.admin_site',site_id=site_id)}}"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span></a>
    </li>
    <li>
         <a href="{{url_for('admin.admin_landing',site_id=site_id)}}"><i class="fa fa-desktop"></i> <span class="nav-label">Landing Page</span> </a>

    </li>
    <li>
         <a href="#" id='site-manage'><i class="fa fa-edit"></i> <span class="nav-label">Manage</span> </a>
    </li>
     <li >
        <a href="{{url_for('admin.client_data',site_id=site_id)}}"><i class="fa fa-desktop"></i> <span class="nav-label">Guest Info</span></a>
    </li>
   {% if wifisite.voucher_login_en() %}
     <li class="active">
        <a href="{{url_for('admin.client_vouchers',site_id=site_id)}}"><i class="fa fa-diamond"></i> <span class="nav-label">Vouchers</span></a>
    </li>
    {% endif %}  

{%endblock%}

{%block main_content %}
    <div class="row">
           {{modal_form_voucher(voucher_form,"vouchermodal","Vouchers")}}
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Vouchers</h5>
                    <div class="ibox-tools">
                         <a class="btn btn-primary" id="vouchermodal-add-new">Create </a>
                         <a class="btn btn-primary" href="{{url_for('admin.client_print',site_id=site_id)}}" target='_blank'>Print Unused </a>
                    </div>
                </div>
                <div class="ibox-content">
                   <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover " id="vouchertable" >
                            <thead>
                                <tr>
                                    <th>Site</th>
                                    <th>Voucher</th>
                                    <th>Duration</th>
                                    <th>Status</th>
                                    <th>Note</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

{%endblock%}


{% block js_block %}
    {% assets "datatable_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

        <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
          // $('.dataTables-example').DataTable();
            create_site_menu(siteid={{site_id}});
            var users_table = new DataTableWithEdit("vouchertable",{
                    "processing": true,
                    "serverSide": true,
                    "responsive": true,
                    "ajax": "/client/site/{{site_id}}/voucher/api/"},
                    "/client/site/{{site_id}}/voucher/api/",
                    'vouchermodal');           
         });
    </script>
{%endblock%}
